.git
.github
.idea
.vscode
**/.DS_Store
**/.env
**/.env.*
!**/.env.*.example
**/.next
**/.terraform
**/*.tfplan
**/*.tfstate
**/*.tfstate.*
**/coverage
**/node_modules
**/playwright-report
**/test-results
artifacts
cms
print-service
specs
