@import "tailwindcss";

:root {
  --color-accent-primary: #000000;
  --color-accent-secondary: #ffffff;
  --color-accent-tertiary: #ffffff;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
  background: var(--color-accent-primary);
}

body {
  font-family: var(--font-instrument-sans), sans-serif;
}
